.cast__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 8px;
    row-gap: 30px;
}

.cast__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    padding: 15px;
    gap: 10px;
    background-color: slategray;
    color: white;
    border: 0.1rem solid black;
    list-style: none;
}